aside {
  @media screen and (min-width: 648px) {
    position: fixed;
  }
  @media screen and (max-width: 648px) {
    border-bottom: 1px solid rgb(255, 193, 193);
  }
}

.site-title a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
}

.edit-icon svg {
  width: .8em;
  height: .85em;
  margin-left: var(--spacing-half);
  vertical-align: baseline;
}

.author-list {
  margin-top: var(--spacing);
  margin-bottom: 0;
  list-style: none;
  padding: 0;

  li {
    line-height: 1;
    margin-bottom: var(--spacing);
    @media screen and (max-width: 648px) {
      display: inline-block;
      margin-bottom: 1.4em;
      margin-right: var(--spacing-half);
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-eggshell);
    transition: background-color .4s ease-out;
  }

  a:hover {
    background-color: var(--color-melon);
  }

  .active {
    background-color: var(--color-melon);
  }
}

.post-list {
  margin-top: var(--spacing-2);
  padding: 0;
  list-style-position: inside;
  max-width: 220px;

  @media screen and (max-width: 648px) {
    margin-top: var(--spacing-half);
    list-style: none;
  }

  li {
    line-height: 1;
    user-select: none;
    display: inline-block;
    margin-bottom: calc(var(--spacing-half)/2);
    margin-right: var(--spacing-half);
  }

  a {
    text-decoration: none;
    color: var(--color-coral);
    transition: all .4s ease-out;
  }

  a:hover {
    color: var(--color-melon);
  }

  a.active {
    color: var(--color-melon-dark);
  }
}