aside {
  @media screen and (min-width: 648px) {
    position: fixed;
  }
  @media screen and (max-width: 648px) {
    border-bottom: 1px solid rgb(255, 193, 193);
  }
}

.site-title a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
}

.edit-icon svg {
  width: .8em;
  height: .85em;
  margin-left: var(--spacing-half);
  vertical-align: baseline;
}

nav ul {
  padding: 0;
  list-style: none;
  user-select: none;
}

.author-list {
  margin-top: var(--spacing);

  li {
    margin-bottom: var(--spacing);
    @media screen and (max-width: 648px) {
      display: inline-block;
      margin-bottom: var(--spacing-half);
      margin-right: var(--spacing-half);
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-eggshell);
    transition: background-color .4s ease-out;
  }

  a:hover {
    background-color: var(--color-melon);
  }

  .active {
    background-color: var(--color-melon);
  }
}

.post-list {
  margin-top: var(--spacing-2);
  @media screen and (max-width: 648px) {
    margin-top: var(--spacing-half);
  }

  li {
    margin-bottom: var(--spacing-half);
    @media screen and (max-width: 648px) {
      display: inline-block;
      margin-bottom: calc(var(--spacing-half)/2);
      margin-right: var(--spacing-half);
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    transition: all .4s ease-out;
  }

  a:hover {
    color: var(--color-melon);
  }
}