@media screen and (min-width: 648px) {
  aside {
    position: fixed;
    top: var(--spacing-2);
  }
}

@media screen and (max-width: 648px) {
  aside {
    border-bottom: 1px solid rgb(255, 193, 193);
  }
}

.site-title a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
}

.edit-icon svg {
  width: .8em;
  height: .85em;
  margin-left: var(--spacing-half);
  vertical-align: baseline;
}

nav {
  ul {
    margin-top: var(--spacing);
    list-style: none;
    padding: 0;
    user-select: none;
  }

  li {
    margin-bottom: var(--spacing);
    @media screen and (max-width: 648px) {
      display: inline-block;
      margin-bottom: var(--spacing-half);
      margin-right: var(--spacing-half);
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-eggshell);
  }

  .active {
    background-color: var(--color-melon);
  }
}