*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

:target {
  @supports (scroll-margin-top: 2em) {
    scroll-margin-top: 2em;
  }
  @supports not (scroll-margin-top: 2em) {
    scroll-snap-margin-top: 2em;
  }
}

html {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  font-size: 18px;
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
}

::selection {
  background-color: var(--color-melon);
}

p {
  line-height: var(--line-height);
  font-size: var(--font);
}

p + p {
  margin-top: var(--spacing-half);
}

.button {
  border-radius: 0.4em;
  padding: .4em .6em;
}