*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  cursor: pointer;
}

:target {
  @supports (scroll-margin-top: 2em) {
    scroll-margin-top: 2em;
  }
  @supports not (scroll-margin-top: 2em) {
    scroll-snap-margin-top: 2em;
  }
}

html {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  font-size: 18px;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-sans);
  transition: all .2s ease-out;
}

::selection {
  background-color: var(--color-melon);
}

p, li {
  line-height: var(--line-height);
  font-size: var(--font);
}

p + p {
  margin-top: var(--spacing-half);
}

.button {
  border-radius: 0.4em;
  padding: .4em .6em;
  user-select: none;
  color: #1c1c1e;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--color-text);
}

#toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: var(--spacing);
  right: var(--spacing-half);
  padding: 0;
  font-size: 1em;
  -webkit-tap-highlight-color: transparent;

  @media screen and (min-width: 648px) {
    position: fixed;
    right: var(--spacing);
  }
}

.sun {
  position: absolute;
  opacity: 0;
}

.sun, .moon {
  transition: all .3s cubic-bezier(.3, .7, .4, 1);
  display: inline-block;
  svg {
    fill: var(--color-text);
    width: 1.6em;
    height: 1.6em;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]) .moon {
    opacity: 0;
    transform-origin: center;
    transform: rotate(120deg);
  }

  :root:not([data-user-color-scheme]) .sun {
    opacity: 1;
    transform-origin: center;
    transform: translateY(-0.1em) rotate(120deg);
  }
}

:root[data-user-color-scheme="dark"] .moon {
  opacity: 0;
  transform-origin: center;
  transform: rotate(120deg);
}

:root[data-user-color-scheme="dark"] .sun {
  opacity: 1;
  transform-origin: center;
  transform: translateY(-0.1em) rotate(120deg);
}