#imagebox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease-out 0.4s;
  display: grid;
  align-content: center;
  justify-items: center;
  cursor: pointer;
}

#imagebox.show {
  visibility: visible;
  opacity: 1;
}

#imagebox figure {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 70%;
  @media screen and (max-width: 648px) {
    max-width: 100%;
  }
}