main {
  margin-top: var(--spacing);
}

article {
  position: relative;
}

h2 {
  margin-bottom: var(--spacing-half);
}

h3 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-half);
}

figure {
  margin-bottom: var(--spacing-half);
}

figcaption {
  text-align: center;
  font-size: var(--font-s);
  color: var(--color-coral);
}

blockquote {
  padding-left: var(--spacing-half);
  margin-top: var(--spacing-half);
  margin-bottom: var(--spacing-half);
  border-left: 1px solid var(--color-melon);
}

main {
  ul {
    list-style: none;
    padding: 0;
  }

  li + li {
    margin-top: var(--spacing-half);
  }
}

article + article {
  margin-top: var(--spacing-4);

  &::before {
    content: "";
    height: 0px;
    width: 50%;
    border-top: 1px solid var(--color-blue);
    position: absolute;
    left: 25%;
    top: calc(0em - var(--spacing-2));
  }
}

.info {
  text-align: right;
  display: grid;
  justify-content: end;
  margin-bottom: var(--spacing-half);

  p {
    background-color: var(--color-blue);
  }
}