@use 'sass:color';

:root {
  // color-scheme: light dark;
  
  --font-s: 0.75rem;
  --font: 1rem;
  
  --line-height: 1.7rem;
  
  --spacing-half: calc(var(--line-height) * 0.5);
  --spacing: var(--line-height);
  --spacing-2: calc(var(--line-height) * 2);
  --spacing-3: calc(var(--line-height) * 3);
  --spacing-4: calc(var(--line-height) * 4);
  
  --color-bg: #fafafa;
  --color-text: #1c1c1e;
  --color-melon: #ffa69e;
  --color-melon-dark: #ff796d;
  --color-eggshell: #faf3dd;
  --color-blue: #aed9e0;
  --color-coral: #5e6472;

  --color-hr: var(--color-melon);
  
  --font-sans: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic';
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]) {
    --color-text: #fafafa;
    --color-bg: #212020;
    --color-blue: #{color.scale(#aed9e0, $lightness: -10%, $saturation: -20%)};
    --color-eggshell: #{color.scale(#faecbe, $lightness: -15%, $saturation: -40%)};
    --color-melon: #{color.scale(#ffa69e, $lightness: -15%, $saturation: -20%)};
    --color-coral: #{color.scale(#5e6472, $lightness: 70%)};

    --color-hr: var(--color-coral);

    scrollbar-color: dark;
    body::-webkit-scrollbar {
      background-color: #2e2d2d;
    }

    body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px #404040;
    }

    body::-webkit-scrollbar-thumb {
      background-color: #6d6c6c;
      border: 4px solid transparent;
      border-radius: 12px;
      background-clip: content-box;

      &:active, &:hover {
        background-color: #979696;
      }
    }
  }
}

:root[data-user-color-scheme="dark"] {
  scrollbar-color: dark;

  --color-text: #fafafa;
  --color-bg: #212020;
  --color-blue: #{color.scale(#aed9e0, $lightness: -10%, $saturation: -20%)};
  --color-eggshell: #{color.scale(#faecbe, $lightness: -15%, $saturation: -40%)};
  --color-melon: #{color.scale(#ffa69e, $lightness: -15%, $saturation: -20%)};
  --color-coral: #{color.scale(#5e6472, $lightness: 70%)};

  --color-hr: var(--color-coral);

  scrollbar-color: dark;
  body::-webkit-scrollbar {
    background-color: #2e2d2d;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #404040;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #6d6c6c;
    border: 4px solid transparent;
    border-radius: 12px;
    background-clip: content-box;

    &:active, &:hover {
      background-color: #979696;
    }
  }
}