<ul class="author-list">
  {% for author in authors %}
    <li>
      <a href="/{{ author.slug }}/" class="button {% if author.slug | isActive(page.url) %}active{% endif %}">{{ author.name }}</a>
    </li>
  {% endfor %}
</ul>