<h1 class="site-title">
  <a href="/">{{ meta.title }}</a>
</h1>
<a class="edit-icon" href="https://ghost.patoken.org/ghost/" title="Edit on Ghost">{{ 'edit.svg' | svg | safe }}</a>
<button id="toggle" aria-label="Dark mode toggle">
  <span class="sun">
    {{ 'sun.svg' | svg | safe }}
  </span>
  <span class="moon">
    {{ 'moon.svg' | svg | safe }}
  </span>
</button>