<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set currentTitle = (title + " | " + meta.title) if title else meta.title %}
    <title>{{ currentTitle }}</title>
    <meta property="og:title" content="{{ currentTitle }}">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ meta.url }}{{ page.url }}">
    <link rel="canonical" href="{{ meta.url }}{{ page.url }}">
    
    <link as="style" href={{ "/style.css" | cssHash }} rel="preload">
    <link rel="stylesheet" href={{ "/style.css" | cssHash }} type="text/css">
    <script async defer data-website-id="ba310c36-9271-4c03-9241-3b79e7eecdf8" src="https://umami.shinlog.me/umami.js"></script>
  </head>
  <body>
    {{ content | safe }}

    <div id="imagebox"></div>
    <script>
      const zoom = e => {
        let node = e.target
        while (node.tagName !== 'FIGURE') node = node.parentNode
        const clone = node.cloneNode(true)
        for (let source of clone.getElementsByTagName('source'))
          source.setAttribute('sizes', '(max-width: 648px) 100vw, 80vw')
        const imagebox = document.getElementById('imagebox')
        imagebox.appendChild(clone)
        imagebox.classList.add('show')
      }
      const images = document.getElementsByTagName('figure')
      for (const img of images)
        img.addEventListener('click', zoom)
      document.getElementById('imagebox').addEventListener('click', e => {
        let node = e.target
        while (node.id !== 'imagebox') node = node.parentNode
        node.classList.remove('show')
        node.innerHTML = ''
      })
    </script>
  </body>
</html>