---
layout: base.njk
pagination:
  data: authors
  size: 1
  alias: author
permalink: "/{{ author.slug }}/"
eleventyComputed:
  title: "{{ author.name }}"
---
{% from "article.njk" import article %}

{% set posts = author.slug | getPostsByAuthor(allPosts) %}

{% for post in posts %}
  {{ article(post) }}
{% endfor %}