---
layout: base.njk
pagination:
  data: authors
  size: 1
  alias: author
permalink: "/{{ author.slug }}/"
eleventyComputed:
  title: "{{ author.name }}"
---
{% from "article.njk" import article %}
{% set posts = author.slug | getPostsByAuthor(allPosts) %}

<aside>
  {% include "header.njk" %}
  <nav>
    {% include "taglist.njk" %}
    <ul class="post-list">
      {% for post in posts %}
        <li>
          <a href="#{{ post.slug }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>

<main>
  {% for post in posts %}
    {{ article(post) }}
  {% endfor %}
</main>