---
layout: base.njk
pagination:
  data: authors
  size: 1
  alias: author
permalink: "/{{ author.slug }}/"
eleventyComputed:
  title: "{{ author.name }}"
---
{% macro authors(data) %}
{%- for i in data -%}
  <span>{{ i.name }}</span>
{%- endfor -%}
{% endmacro %}

{% set posts = author.slug | getPostsByAuthor %}

<ol>
  {% for post in posts %}
    <li id="{{ post.slug }}">
      <h2>{{ post.title }}</h2>
      <p class="info">{{ post.published_at | shortDate }} by {{ authors(post.authors) }}</p>
      <article>
        {{ post.html | safe }}
      </article>
    </li>
  {% endfor %}
</ol>