---
layout: base.njk
pagination:
  data: allPosts
  size: 5
  alias: posts
permalink: "/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% from "article.njk" import article %}

<aside>
  {% include "header.njk" %}
  <nav>
    {% include "authorlist.njk" %}
  </nav>
</aside>

<main>
  {% for post in posts %}
    {{ article(post) }}
  {% endfor %}

  <nav id="pagination">
    <ol>
    {%- for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %}class="current"{% endif %}>{{ loop.index }}</a>
      </li>
    {%- endfor %}
    </ol>
  </nav>
</main>