---
layout: base.njk
pagination:
  data: tags
  size: 1
  alias: tag
permalink: "/{{ tag.slug }}/"
eleventyComputed:
  title: "{{ tag.name }}"
---
{% from "article.njk" import article %}
{% set posts = tag.slug | getPostsByTag(allPosts) %}

<aside>
  {% include "header.njk" %}
  <nav>
    {% include "taglist.njk" %}
  </nav>
</aside>

<main>
  {% for post in posts %}
    {{ article(post) }}
  {% endfor %}
</main>